@import "../styles/scrollbar.scss";

.mock-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.header {
    color: #dd3c52;
    margin: 0;
    user-select: none;
    cursor: normal;
    text-align: center;
}

.subheader {
    color: #dd3c52;
    opacity: .7;
    font-size: 20px;
}

.mock-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 500px;
    min-width: 200px;
}

.mock-input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .2s;
    resize: none;
    font-family: 'Manjari', sans-serif;
    display: flex;

    @extend .cool-scrollbar;

    &:focus {
        outline: none;
        -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    }
}

.mocked-text {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
}

.mock-button,
.reset-mock {
    height: fit-content;
    border-left: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background: rgb(249, 72, 96);
    background: linear-gradient(180deg, rgba(249, 72, 96, 1) 34%, rgba(255, 59, 0, 1) 100%);
    outline: none;
    transition: all .3s;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.reset-mock {
    padding: 10px 30px;
}

.footer {
    color: #dd3c52;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    a {
        color: #dd3c52;

        &:visited {
            color: #dd3c52;

        }

        &:hover {
            opacity: .8;
        }
    }
}